.moviePhoto{
    display: grid;
    z-index: -1;
    position: relative;
    grid-auto-rows: auto 1fr;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 20px;
}
.moviePhoto img{
    width: 100%;
    aspect-ratio: 0;
}