.MoviesSection{
    display: grid;
    grid-template-rows: auto 1fr;   
}

.MoviesBanner{
    position: relative;
    z-index: -2;
}
.MoviesBanner img{
    width: 100%;
}
.moviesSection_Photo{
    position: relative;
    display: grid;
    z-index: -1;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-template-rows: auto 1fr;
    gap: 0.5rem;
    transform: translateY(-3rem);
}
.moviePhoto{
    display: grid;
    z-index: -1;
    position: relative;
    grid-auto-rows: auto 1fr;
}
.moviePhoto img{
    width: 100%;
    aspect-ratio: 0;
    /* clip-path: inset(0 15% 0 15% round 10%);   */
}